@model TheWorld.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Contact";
}
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>@ViewBag.Title</h2>
        @ViewBag.message
        <form method="post">
            <div asp-validation-summary="ValidationSummary.ModelOnly"></div>
            <div class="form-group">
                <label>Name</label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label>Message</label>
                <textarea asp-for="Message" cols="40" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Message" class="text-muted"></span>
            </div>
            <div class="form-group">
                <a asp-controller="App" asp-action="Index" class="btn btn-default">Cancel</a>
                <input type="submit" value="Send Message" class="btn btn-success" />
            </div>

        </form>
    </div>
</div>